<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="44301cb3-13ae-4e1e-95b1-95b96cbbfe0e"
            Publisher="CN=user01"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>Umebayashi.Games.Mandelbrot.StoreApp</DisplayName>
    <PublisherDisplayName>user01</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="Umebayashi.Games.Mandelbrot.StoreApp.App">
        <VisualElements
            DisplayName="Umebayashi.Games.Mandelbrot.StoreApp"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="Umebayashi.Games.Mandelbrot.StoreApp"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>